<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum repudiandae officia culpa assumenda! Atque
            beatae quisquam tempora explicabo eius dicta illo sed earum eum aperiam. Laborum non asperiores voluptatum
            voluptatem!</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>

</html>